h1 {
            text-align:center;
           }
h2{ text-align:center;
    color:lightblue
}

h3{text-align:center;
}
p{text-align:center;
}
figure{text-align:center;
}
article{text-align:center;
}
nav{text-align:right;
}

header{
    display:flex;
    justify-content:space-between;
    background-color:white;
    border-bottom: 1px solid black;
    padding:10px 5px;
}


nav{
    display:flex;
    justify-content:flex-end;
    gap:1em;

}
nav{
    display:flex;
    justify-content:flex-start;
    gap:1em;

}
