.instrument{
    background-color:#ffd8be;
    border-radius: 1rem;
    width:100px;
    height: 100px;
    display:flex;
    flex-direction: column;
    align-items:center;
    font-family: cursive;

}

.active{
    background-color:#d8f3dc;
    color: #ffb4a2;
}

div{
    text-align:center;
    margin: 20px auto;
    display:flex;
    justify-content: center;
    color:#ffb4a2;

}

body{
    text-align:center;
     background-color: #fff3b0;
}


h1{
    text-align:center;
    color: #ffb4a2;
    font-family: cursive;
    fonty-size:70;
}
