body{
    text-align:center;
     background-color: #fff3b0;
     font-family: cursive;
}

h1{
    font-family: cursive;
    font-size: 4rem;

}

button{
    font-size: 2rem;
    background-color: #F0ABFF;


}
