header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    padding: 10px;
    background-color:white;
}

h1{
    color: black;
    text-align:center;
}

nav{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.purple{
    color: red;

}

.padding{
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

#name{
    width: 150px;
    flex-wrap: wrap;
    font-size: 20px;
}

.div{
    display: flex;
    justify-content: space-between;
}

footer {
    color:lightgray;
    margin:5px;
    padding:10px;
    border-top:1px solid whitesmoke;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;

    bottom:0px;
    left:0px;
    right:0px;
}

.standout-box{
    background-color: whitesmoke;
    border-radius: 2rem;
    padding: 1rem;
    font-family: "Merriweather", serif;
    width:500px;
    text-align:center;
    margin: 20px auto;

}

.subtitle{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

body{
    margin: 0px;
    display: block;
}

.hero-section{
    background:url("https://imgproxy.divecdn.com/949SwVddB0Lfh6yGLp1ffWFfQLwN2nMVz96I3NtCAXY/g:ce/rs:fill:1200:675:1/Z3M6Ly9kaXZlc2l0ZS1zdG9yYWdlL2RpdmVpbWFnZS9HZXR0eUltYWdlcy0xMDY0MjA0NTk4X2NyZWRpdC1SYXR0YW5rdW5fVGhvbmdidW5fY29sbGVjdGlvbi1HZXR0eV9JbWFnZXNfUGx1cy5qcGc=.webp");
    background-size: cover;
    background-position: center;
    height:500px;
}

h2{
    font-size: 2.3rem;
    text-align:center;

}

h3{
    font-size: 1.7rem;

}



