body{
    text-align: center;
    background-color: pink;
    font-size: 1.8rem;
}

button{
    height: 40px;
    color:white;
    background-color:purple;
    font-size: 1.5rem;
}
h1{
    color:purple;
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}
